.DS_Store
node_modules
package-lock.json
wallet/*
transaction/*
policy/*
log/*
test/__pycache__/*
__pycache__/*
tcr/__pycache__/*
.vscode
mainnet_protocol_parameters.json
testnet_protocol_parameters.json
build
public/dist
nft/mainnet/skk_series_2
nft/mainnet/tcr_series_1_420pool/
nft/mainnet/tcr_series_1_reserved/
nft/mainnet/tcr_series_1_general/tcr_series_1_general.json
nft/mainnet/tcr_series_1_general/sales.json
nft/mainnet/tcr_series_1_general/TCR*_metadata.json
nft/mainnet/tcr_series_1_general/nft_merged_metadata_*.json
nft/mainnet/tcr_series_2/art/ARTWORKS
nft/mainnet/tcr_series_2/art/ARTWORKS_OLD
nft/mainnet/tcr_series_2/nft_img
nft/mainnet/tcr_series_2/nft_metadata
nft/mainnet/tcr_series_2/presale_whitelist.json
nft/testnet