
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a:link, a:visited {
  color: #01FCD3;
  text-decoration: none;
}

a:hover, a:active {
  color: #00c4a3;
  text-decoration: none;
  /*text-decoration: underline;*/
}

.color_red {
  color: red;
}

.color_white {
  color: white;
}

.concrete_background {
  background-image: url(/images/background_concrete.jpg);
  background-repeat: repeat-y;
  background-size: cover;
}

.black_background {
  background-color: black;
}

.zero_padding {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.side_padding {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.bottom_padding {
  padding-bottom: 10px;
}

.left_obj_pad {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.right_obj_pad {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.main_content {
  flex: 10 0 auto;
}

.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main {
  padding-top: 90px;
}

.footer {
  flex-shrink: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #01FCD3 !important;
}

/* ============ only desktop view ============ */

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	
/* ============ desktop view .end// ============ */
