
html, body {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'helvetica', Arial, sans-serif;
  color: #01FCD3;
}

p {
  font-family: 'helvetica', Arial, sans-serif;
  color: white;
}

a:link, a:visited {
  color: #01FCD3;
  text-decoration: none;
}

a:hover, a:active {
  color: #00c4a3;
  text-decoration: none;
}

.color_red {
  color: red;
}

.color_white {
  color: white;
}

.background-concrete {
  background-image: url(/images/background_concrete.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}

.background-black {
  background-color: black;
}

main > .container {
  padding-top: 70px;
}
main > .container-fluid {
  padding-top: 70px;
}

a.start-offset {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #01FCD3 !important;
}

.border-show {
  border-style: solid;
  border-color: black;
}
/* ============ only desktop view ============ */

@media all and (min-width: 768px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{  transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }

	.navbar .nav-item:link .nav-link{ color: #01FCD3; }
	.navbar .nav-item:visited .nav-link{ color: #01FCD3;  }
	.navbar .nav-item:hover .nav-link{ color: #00c4a3;  }
	.navbar .nav-item:active .nav-link{ color: #00c4a3;  }

  .navbar .dropdown-item:link{ color: #01FCD3; }
  .navbar .dropdown-item:visited{ color: #01FCD3; }
  .navbar .dropdown-item:hover{ color: #00c4a3; }
  .navbar .dropdown-item:active{ color: #00c4a3; }

  .navbar .nav-item:hover .dropdown-item{ background-color: #000000; }
  .navbar .nav-item .dropdown-menu { background-color: #000000; }
}

/* ============ desktop view .end// ============ */
