extends layout

block content
    a(class='anchor-offset' id='TheCardRoom')
    h2(class='pt-2') ABOUT
    p 
        | Here at The Card Room we are creating a unique NFT gaming and DeFi 
        | space that will offer original digital artwork for our community to
        | browse, collect, win, stake and play with. We are developing a 
        | community of artists, collectors, collaborators, gamers and NFT 
        | junkies; turning this into a platform promoting excellence and 
        | originality.

    p 
        | We will provide long term value to our NFT and token holders by 
        | building advanced features into our ecosystem with the introduction 
        | of smart contracts.


    a(class='anchor-offset' id='verify')
    h2(class='pt-4') VERIFY
    p 
        | Verify the authenticity of your TCR NFTs. If buying direct, you can 
        | be assured you are getting an authentic TCR NFT and that we will 
        | never mint any more for an already minted series.

    p Series 1 Policy ID: 
        a(href='https://cardanoscan.io/tokenPolicy/2b9fb283d8116489f4a494e76c75efe0d9992aaef6c65eaf9b374298') 
            | 2b9fb283d8116489f4a494e76c75efe0d9992aaef6c65eaf9b374298
    p Series 2 Policy ID: 
        a(href='https://cardanoscan.io/tokenPolicy/7135025a3c23035cdcff4ef8ae3849248afd369466ea1abef61a4157')
            | 7135025a3c23035cdcff4ef8ae3849248afd369466ea1abef61a4157


    a(class='anchor-offset' id='roadmap')
    h2(class='pt-4') ROADMAP
    p 
        | The Card Room remains focused on long term value and fun for HODLers. 
        | The dev team (aka KK) is focused on implementing the mutations in the 
        | short term.  Longer term plans include setting up a stake pool to benefit
        | TCR NFT holders, a launch pad to support emerging NFT artists on Cardano,
        | and creating open source tools to support other developers on Cardano.  
        | Other initiatives include setting up a marketplace and merch.


    img(class='rounded mx-auto d-block' src='/images/whereweregoing.gif')

    a(class='anchor-offset' id='team')
    h2(class='pt-4') TEAM
    p
        img(class='rounded float-start' style='padding-right: 10px;' src='/images/team-kk.jpg' height='93px')
        | KK - A true programming prodigy, KK took apart his family IBM computer 
        | when he was 6 and claims to have built the first AI mind with the parts. 
        | Studying Mathematics and Computer Science at University he went on to a 
        | successful career in software engineering working in a variety of fields 
        | writing firmware for consumer electronics, medical devices and consulting 
        | for an AI imaging company.  KK was attracted to crypto for the Lambos but 
        | stayed for the tech and inevitable decentralized future.
        
    p 
        | KK is the brains behind The Card Room and has built the whole minting process, 
        | website, image layering and metadata construction by hand whilst losing at 2 
        | NL online poker. He is a passionate NFT collector and refuses to sell any at 
        | a profit.
        
    p(class='pb-2')
        | See what KK has to say on Twitter: 
        a(href='https://twitter.com/superkk76') https://twitter.com/superkk76

