extends layout

block content
    div(class="container-fluid")
        div(class='row align-items-start justify-content-evenly')
            div(class='col align-self-start px-0')
                img(class='mx-auto d-block' src='/images/EmperorCharles-card.png')
            div(class='col align-self-start ')
                h2 EMPEROR CHARLES
                p 
                    | Born into the Imperial Family of Japan, the young Charles studied
                    | Kenjustu under Sensei Masamune before travelling widely across the world,
                    | founding Cardano in 1340.  He finally returned to Japan, winning series 5
                    | of Tekeshi's Castle and the beautiful skull jade ring.  We honor Emperor 
                    | Charles and the launching of Cardano in Japan.

                p 
                    | Note: There are also 9 with laser eyes minted at the 'Epic' rarity level.
                
                table(class='table table-dark')
                    tbody
                        tr
                            th(scope='row') 
                                | Name 
                            td 
                                | Emperor Charles
                        tr
                            th(scope='row') 
                                | NFT Name 
                            td 
                                | The Card Room 1.4
                        tr
                            th(scope='row') 
                                | Rarity 
                            td 
                                | Ultra Rare
                        tr
                            th(scope='row') 
                                | Mint 
                            td 
                                | 18
