extends layout

block content
    div(class="container-fluid")
        div(class='row align-items-start justify-content-evenly')
            div(class='col align-self-start px-0')
                img(class='mx-auto d-block' src='/images/HulaHosky-card.png')
            div(class='col align-self-start ')
                h2 HULA HOSKY
                p 
                    | Born in Hawaii in 1987, the young Charles was passionate about big wave
                    | surving and hula dancing.  He left this idyllic paradise to create Cardano
                    | in 2017, turning down the Hawaiian throne to help educate the world on 
                    | blockchain adoption and hula NFTs.
                
                table(class='table table-dark')
                    tbody
                        tr
                            th(scope='row') 
                                | Name 
                            td 
                                | Hula Hosky
                        tr
                            th(scope='row') 
                                | NFT Name 
                            td 
                                | The Card Room 1.2
                        tr
                            th(scope='row') 
                                | Rarity 
                            td 
                                | Uncommon
                        tr
                            th(scope='row') 
                                | Mint 
                            td 
                                | 145
