extends layout

block content
    h2(class='pt-2') MINT
    p
        | Series 1 - King Charles, and Series 2 - Mutation are sold out.  If you would like to HODL 
        | a TCR NFT you may find them on secondary markets.  We are verified on:
        ul
            li 
                a(href='https://jpg.store/') jpg.store
                ul
                    li 
                        a(href='https://www.jpg.store/collection/thecardroom-kingcharles') King Charles
                    li 
                        a(href='https://www.jpg.store/collection/thecardroom-mutation') Mutation                    
            li 
                a(href='https://www.genesishouse.io/') genesishouse.io
            li 
                a(href='https://tokhun.io/') tokhun.io
            li 
                a(href='https://cnft.io/') cnft.io

