extends layout

block content
    div(class='content')
        h2 Series 2 - Mutation

    div(class="container-fluid")
        div(class='row align-items-start justify-content-evenly')
            div(class='col align-self-start px-0')
                p 
                    | From high up in the abandoned city, the NFT Genome Research Institute, known as 
                    span(style='color:#5ff9d2; font-size:1.2em;') THE LAB
                    | , works on sequencing the first AI Smart Contract Mutation NFTs.

                p 
                    | These highly potent mutations, when combined with another NFT will create a 
                    | synthetic AI generative fork, resulting in a totally new NFT.
            div(class='col align-self-start')
                h2 "IT'S AN UTTER VIOLATION OF THE LAWS OF NATURE."

    div(class='content')
        h2 THE MUTATIONS
        p 
            | With five levels of potency, each mutation NFT has the power to create new life.
        div(class='row')
            div(class='tcr-card-main')
                div(class='card tcr-card card-group bg-transparent')
                    img(src='/images/Mutation-AcidRain-card.png' class='card-img-top zoom' alt='Acid Rain')
                    div(class='card-body')
                        p(class='card-title center') Acid Rain
                div(class='card tcr-card card-group bg-transparent')
                    img(src='/images/Mutation-MicroDosing-card.png' class='card-img-top zoom' alt='Micro Dosing')
                    div(class='card-body')
                        p(class='card-title') Micro Dosing
                div(class='card tcr-card card-group bg-transparent')
                    img(src='/images/Mutation-ChinSwingers-card.png' class='card-img-top zoom' alt='Chin Swingers')
                    div(class='card-body')
                        p(class='card-title') Chin Swingers
                div(class='card tcr-card card-group bg-transparent')
                    img(src='/images/Mutation-TheHulk-card.png' class='card-img-top zoom' alt='The Hulk')
                    div(class='card-body')
                        p(class='card-title') The Hulk

    div(class='content')
        img(src='/images/mutation-heroimage.jpg' width='100%')
    
    div(class='content')
        h2 RARITY
        p 1,000 NFTs 
        p 10 characters * 73 mutations * 5 potencies * dozens more features = millions of possibilities

    div(class="container-fluid")
        div(class='row align-items-start justify-content-evenly')
            div(class='col align-self-start px-0'  style='min-width: 350px;')
                video(width='100%' preload='metadata' loop='loop' autoplay muted)
                    source(src='/images/themint-animation.mp4' type='video/mp4')
            div(class='col align-self-start' style='min-width: 350px;')
                h2 THE MINT 
                p 
                    | THE LAB has agreed to release 1,000 mutations to The Card Room community with the 
                    | caveat that they're not to be used until the final beta testing has been completed.
                p
                    | Minting Date: 28 October 2021, 1900 UTC
                    br
                    | Pre-Sale: 25 October 2021, 1900 UTC
                    br
                    | Price: 35 ADA
                p
                    | Discord members with the "Verified Degen" role qualify for discounted pre-sale access.



